<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>Product-create</title>
</head>
<body>

    <form id="abmProduct" action="/index" method="POST">
        <fieldset class=nombreProducto>
            <label for="nombre-producto">Nombre del Producto:</label>
            <input type="text" name="nombre-producto"  id="nombre-producto" placeholder="Nombre del producto" required >
        </fieldset>

        <fieldset class="descripcionProducto">
            <label for="descripcionProducto">Descripcion del PRoducto: </label>
            <input type="text" name="descripcionProducto"  id="descripcionProducto" required>
        </fieldset>

        <fieldset class="imagenProducto">
            <label for="imagenProducto">Imagen: </label>
            <input type="image" name="imagenProducto"  id="imagenProducto" >
        </fieldset>

        <fieldset class="password">
            <label for="pass">Contraseña: </label>
            <input type="password" name="pass"  id="pass" placeholder="Min. 8 caracteres" minlength="8" required>
        </fieldset>

        <fieldset class="password">
            <label for="confirm-pass">Confirmar Contraseña: </label>
            <input type="password" name="confirm"  id="confirm-pass" placeholder="Repita su contraseña" minlength="8" required>
        </fieldset>

    
        <fieldset class="buttons">
            <button id="cancel" type="reset">Cancelar</button>
            <button id="button-register" type="submit">Registrarse</button>
        </fieldset>
    </form>

    
</body>
</html>