<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{css: [ "productCart"]}) %> 
<body id="productCart">
    <!-----------------------------------------HEADER------------------------------------------------>  
    
    <header id="header-cart">
        <section class="header-top-cart">
           <p class="cart"><i class="fas fa-shopping-cart"></i></p>  <h1 id="titulo-carrito">Carrito (0)</h1>
           <a class="x" href="/"><i class="fas fa-times-circle"></i></a>
        </section>


        <section class="header-bottom-cart">
        <article id="contenido-carrito">    
        <h1 id="titulo2">Tu carrito de compras está vacío</h1>
        <a href="/"><button type="submit" class="button-comprar">Seguir Comprando</button></a>
        </article>
        </section>
</header>   
</body>
</html>