<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs',{css: [ "productCreateModify","footer", "header"]}) %> 
    
    <title>Modify</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

<main id="formModify">

    <div class="productCreateModify">

        <div class="titulo-create-modify">
            <h3>INGRESE UN NUEVO PRODUCTO</h3>
        </div>

        <form id="abmProduct" action="/index" method="GET">
            <fieldset class=idProducto>
                <label for="idProducto">Nombre del Producto:</label>
                <input type="text" name="idProducto"  id="idProducto" > <!--identificador unico-->
            </fieldset>

            <fieldset class=nombreProducto>
                <label for="nombreProducto">Nombre del Producto:</label>
                <input type="text" name="nombreProducto"  id="nombreProducto" placeholder="Nombre del producto" required >
            </fieldset>

            <fieldset class="descripcionProducto">
                <label for="descripcionProducto">Descripcion del PRoducto: </label>
                <input type="text" name="descripcionProducto"  id="descripcionProducto" required>
            </fieldset>

            <fieldset class="imagenProducto">
                <label for="imagenProducto">Imagen: </label>
                <input type="file" name="imagenProducto"  id="imagenProducto" >
            </fieldset>

            <fieldset class="categoriaProducto">
                <label for="categoria">Categoria: </label>
                <input type="text" name="categoria"  id="categoria" >
            </fieldset>

            <fieldset class="precioProducto">
                <label for="confirm-pass">Confirmar Contraseña: </label>
                <input type="number" name="precioProducto"  id="precioProducto" >
            </fieldset>

        
            <fieldset class="buttons">
                <button id="cancel" type="reset">Cancelar</button>
                <button id="button-register" type="submit">Guardar</button>
            </fieldset>
        </form>
    </div>

</main>
    <%- include('../partials/footer.ejs') %>

    
</body>
</html>