<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css"/>
    <title>Document</title>
</head>
<body>
    <!--HEADER-->
    <header class="header">
        <div class="header-top">
            <div>Logo</div>
            <h1 class="titulo">Pet World</h1>
            <div class="login-chart"> 
                <a href="login.html" method="GET">login</a>
                <div id="chart">Carrito</div>
            </div>
        </div>

        <div class="header-bottom">
            <nav class="nav-bar">
                <ul>
                    <li>Home</li>
                    <li>Productos</li>
                    <li>Marcas</li>
                    <li>Tamaños y Pesos</li>
                    <li>PW Blog</li>
                    <li>Contactenos</li>
                </ul>
            </nav>
            <div class="search-bar">
                <input id="busqueda" type="search" name="busque" placeholder="Buscar"><i class="fas fa-search"></i>
            </div>
        </div>

    </header>

    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        

        

        

    </main>


<!--FOOTER-->    
    <footer class="footer">
        <ul class="list-left">
            <li>Home</li>
            <li>Sobre Nosotros</li>
            <li>Precios</li>
            <li>Contactenos</li>
        </ul>
        
        <ul class="list-right">
            <li>Blog</li>
            <li>Búsqueda</li>
            <li>T&C</li>
            <li>Privacidad</li>
        </ul>
        
        <form action="" method="POST" class="form-footer">
            <input type="text" id="usuario" placeholder="email o nombre de usuario">
            <input type="password" id="pass" placeholder="contraseña">

        </form>
           
        
    </footer>
    
</body>
</html>