<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productDetails.css">
    <title>Document</title>
</head>
<body>
      <!--HEADER-->
      <header class="header">
        <div class="header-top">
            <div>Logo</div>
            <h1 class="titulo">Pet World</h1>
            <div class="login-chart"> 
                <a href="/login" method="GET">login</a>
                <a href="/productCart"><div id="chart">Carrito</div></a>
            </div>
        </div>

        <div class="header-bottom">
            <nav class="nav-bar">
                <ul>
                    <li>Home</li>
                    <li>Perros</li>
                    <li>Gatos</li>
                    <li>Tamaños y Pesos</li>
                    <li>Marcas</li>
                    <li>PW Blog</li>
                    <li>Contactenos</li>
                </ul>
            </nav>
            <div class="search-bar">
                <input id="busqueda" type="search" name="busque" placeholder="Buscar"><i class="fas fa-search"></i>
            </div>
        </div>

    </header>
</body>
</html>