<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css"/>
    <link rel="stylesheet" href="../css/general.css"/>
    <title>Document</title>
</head>
<body>
<div class="register-contenedor">
    <div class="header">
        <div class="header-top">
            <img id="logo" src="../img/logo.png">
            <h1 id="titulo">Pet World</h1>
        </div>
        
        <div class="header-bottom">
            <h1>INGRESE SUS DATOS</h1>
        </div>
        
    </div>


    <form id="register"action="/index" method="POST">
        <fieldset class=nombre>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre"  id="nombre">
        </fieldset>

        <fieldset class="apellido">
            <label for="apellido">Apellido: </label>
            <input type="text" name="apellido"  id="apellido"><br>
        </fieldset>
        
        <fieldset class="usuario">
            <label for="usuario">Nombre de Usuario: </label>
            <input type="text" name="usuario"  id="usuario">
        </fieldset>

        <fieldset class="email">
            <label for="email">Email: </label>
            <input type="email" name="email"  id="email"><br>
        </fieldset>
        
        <fieldset class="password">
            <label for="pass">Contraseña: </label>
            <input type="password" name="pass"  id="pass"><br>
        </fieldset>
        
        <fieldset class="password">
            <label for="confirm-pass">Confirmar Contraseña: </label>
            <input type="password" name="confirm"  id="confirm-pass">
        </fieldset>
        
        <fieldset class="dni">
            <label for="dni">DNI: </label>
            <input type="number" name="dni"  id="dni">
        </fieldset>

        <fieldset class="domicilio">
            <label for="domicilio">Domicilio: </label>
            <input type="text" name="domicilio"  id="domicilio">
        </fieldset>
        
        <fieldset class="telefono">
            <label for="telefono">Teléfono: </label>
            <input type="number" name="telefono"  id="telefono">
        </fieldset>

        <fieldset class="buttons">
            <button id="cancel" type="reset">Cancelar</button>
            <button id="button-register" type="submit">Registrarse</button>
        </fieldset>
    </form>
    
    <div class="volver-home"><a href="/">Volver al Home</a></div>

</div>
</body>
</html>