/*-----ESTILOS DEL HEADER-----*/

*{
    box-sizing: border-box;
}

header{

    display: block;
    padding: 10px;
    width: 100%;
}

.header-bottom{
    padding: 10px;
}

.nav-bar ul{
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

.desplegable {
    display: none;
}

.nav-bar ul li{
    list-style-type: none;
    margin: 0 5px;
    padding: 0px;

}
.nav-bar ul li:hover > .desplegable{
    display: block;
}



/*-----ESTILOS DEL NAV-----*/


/*-----ESTILOS DEL MAIN-----*/
main{
    display: block;
    width: 100%;
    padding: 10px;
}

/*-----ESTILOS DEL FOOTER-----*/
footer{
    width: 100%;
    padding: 10px;
    display: block;
}




/*---MAIN TOP PRODUCTOS--*/
.main-top´{
    border: dashed 1px black
}
.producto{
    border: solid 1px black;
    display: block;
    margin: 15px; 
    padding: 10px;
    text-align: center;

}

main-bottom{
    border: dashed 1px black;
    
}

.perros, .gatos{
    border: solid 1px black;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    text-align: center;


}



/*-----MEDIA QUERIES-----*/

@media (min-width:768px) {
    
    .header-top{
        display: flex;
        justify-content: space-between;
    }
    .header-bottom{
        display: flex;
        justify-content: space-between;
    }
    .nav-bar ul{
        display: flex;
        margin: 0 5px;
    }
    .desplegable {
        display: none;
    }

    .footer{
        display: flex;
        justify-content: space-between;
    }

    .main-top{
        display: flex;

    }

    .productos-destacados{
        display: flex;
        justify-content: space-between;
    }
    .producto{
        width: 30%;

    }
  
    .main-bottom{
        border: dashed 1px black;
        display: flex;
        flex-direction: column;
    }
    .perros-gatos{
        display: flex;
        justify-content: space-around;

    }
    .perros, .gatos{
        width: 30%;
    }
}