/*-----ESTILOS DEL HEADER-----*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
    
    /*-----ESTILOS DEL MAIN-----*/
main{
    display: block;
    background-color:#ebebeb;
   padding: 0 20px;

}


/*nuestros productos*/

.productos-destacados{
    /*border: dashed 1px black;*/
    padding: 20px 0;
}

.producto{
   
    width: 90%;
    margin: 10px; 
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: all 1500ms;
}
.producto:hover{
    box-shadow: 0 0 10px #4bc970;
}

.producto img{
    width: 100%;
}

.nuestros-productos{
    padding: 20px 0;
}

.grid-productos{
    text-align: center;
}

.perros, .gatos{
    border: solid 1px rgb(218, 213, 213);
    display: inline-block;
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 30%;
}
.destacados:hover,
.nuestros:hover{
    color:#4bc970;
    font-size: 35px;
}
.destacados,
.nuestros{
    transition: all 500ms;
}
#dolar{
    color: #4bc970;
}
#button-agregar{
    border-radius: 8px;
    border: none;
    padding: 5px;
    margin-top: 5px;
    background-color: #4bc970;
    color: white;
    transition: all 500ms;
}
#button-agregar:hover{
    color: black;
    border:1px solid black  
}

#crear-producto{
    text-align: right;
    border-radius: 8px;
    border: solid px;
    padding: 5px;
    margin-top: 5px;
    background-color: #4bc970;
    color: white;
   margin-bottom: 20px;
}

#crear-producto a{
    text-decoration: none;
    color: white;

}


/*-----------------------MEDIA QUERIES-----------------------*/

@media (min-width:481px) {

    /*main-destacados-productos*/

    .grid-destacados{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


   
    .grid-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .producto{
        max-width: 200px;
    }

    .perros, .gatos{
        width: 30%;
    }
}

@media (min-width:769px) {
    .producto{
        max-width: 230px;
    }
    
    

}