main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.det-producto{
    width: 90%;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.det-producto img{
    width: 80%;
    max-width: 284px;
    max-height: 355px;
}


h3{
    text-align: left;
    font-size: 16px;
}

.descripcion-producto{
    font-size: 12px;
    text-align: justify;
}

.precio-prod{
text-align: left;
padding-top: 20px;
font-size: 18px;
}

.boton-cantidad{
    padding: 10px 0;
}

.boton-menos, .boton-mas{
    width: 15px;
    height: 30px;
    margin: 0;
}
.input-cantidad{
    width: 25px;
    height: 30px;
    margin: 0;
    text-align: center;
}

#button-agregar{

height: 30px;
padding: 5px;
}

.otras-desc{
    display: flex;
    padding: 30px 0;
  
}

table{
    border: solid 1px rgb(206, 203, 203);
}






/**-----------MEDIA QUERIES---------**/
@media (min-width:768px) {
    main{
        display: block;
        
    }
  
    .det-producto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:50px 0;
    }
    
    .detalle-producto{
        width: 60%;
        padding-left: 100px;
        padding-top: 20px;
    }
    .det-producto img{
        width: 40%;
        max-width: 300px;
        max-height: 380px;
    }
    h3{
        font-size: 24px;
    }

    .descripcion-producto{
        padding-top: 5px;
        font-size: 16px;
        
    }

    .otras-desc{
        width: 50%;
        text-align: center;
        justify-content: center;
    }
    
    .precio-prod{
        font-weight: bold;
    }

}