<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 

    </head>
       
  

<body>
    
    <header class="header">
    <%- include('./partials/header.ejs') %>
    </header>

    <!--MAIN-->
    <main>
        <section class="productos-destacados">
            <h2 class="destacados">DESTACADOS</h2>
            <section class="grid-destacados">
                <article class="producto">
                    <h3>Alimento Eukanuba</h3>
                    <a href="/products/productDetails.ejs"><img src="../img/eukanuba-puppi.png" alt="alimento eukanuba"></a>
                    <section class="detalle-producto">
                        <p>Alimento eukanuba para cachorros raza pequeña 3kg</p>
                        <p> <span id="dolar">$</span>1350 </p>
                        <form id="agregar-carrito" action="/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </article>
            
                <article class="producto">
                    <h3>Cepillo</h3>
                    <img src="../img/cepillo.png" alt="cepillo">
                    <section class="detalle-producto">
                        <p>Cepillo para perros</p>
                        <p> <span id="dolar">$</span>690 </p>
                        <form id="agregar-carrito" action="/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </article>
                
                <article class="producto">
                    <h3>Comedero</h3>
                    <img src="../img/comedero.png" alt="comedero perros gatos">
                    <section class="detalle-producto">
                        <p>Comedero</p>
                        <p> <span id="dolar">$</span>290 </p>
                        <form id="agregar-carrito" action="/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </article>
               
                <article class="producto">
                    <h3>Cama</h3>
                    <img src="../img/cama.jpg" alt="cama">
                    <section class="detalle-producto">
                        <p>Cama</p>
                        <p> <span id="dolar">$</span>2590 </p>
                        <form id="agregar-carrito" action="/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                    </section>
                </article>
                
                <article class="producto">
                    <h3>Pipeta perros y gatos</h3>
                    <img src="../img/pipeta.jpg" alt="pipeta perros y gatos">
                    <section class="detalle-producto">
                        <p>Cepillo para perros</p>
                        <p> <span id="dolar">$</span>690 </p>
                        <form id="agregar-carrito" action="/productCart" method="GET">
                            <button id="button-agregar" type="submit">Agregar al carrito</button>
                        </form>
                     </section>       
                </article>
            </section>
        </section>
        

        <section class="nuestros-productos">
            <h2 class="nuestros">Nuestros Productos</h2>
            
            <section class="grid-productos">
                <article class="perros">
                        <img src="">
                        <h4>PERROS</h4>
                        <!--<img src="../img/dog.jpg" alt="Perros">-->
                </article>

                <article class="gatos">
                    <h4>GATOS</h4>
                    <!--<img src="../img/cat.png" alt="Gatos">-->

                </article>
            </section>

        </section>
    </main>

    <!--FOOTER -->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>