

<!--FOOTER-->    
<footer class="footer">
    <img id="logo-footer" src="../../img/logo.png" alt="logo">
    
    <ul class="list-left">
        <li><a href="/">HOME</a>  </li>
        <li>TIENDA</li>
        <li>PERROS</li>
        <li>GATOS</li>
        <li>SERVICIOS</li>
    </ul>
    
    <ul class="list-right">
        <li>BLOG</li>
        <li>SOBRE NOSOTROS</li>
        <li>TÉRMINOS Y CONDICIONES</li>
        <li>PRIVACIDAD</li>
        <li>CONTACTENOS</li>
    </ul>

    <section id="texto">
        2021 - Pet World - Todos los derechos reservados
    </section>
</footer>

