

<!--HEADER-->
<header class="header">
    <section class="header-top">
        <section id="logo-titulo">
            <img id="logo" src="../../img/logo.png" alt="logo">
            <h1 id="titulo">Pet World</h1>
        </section>
        
        <form id="search-bar" action="/products/search" method="GET" >
            <input id="busqueda" type="search" name="busqueda" placeholder="Buscar"><i class="fas fa-search"></i>
        </form>
        
       
        <section id="login-cart">
            <div id="button-login-header">
                <%if(usuario) {%>
                    <a href="/users/perfil" method=GET id="log-text"><%=usuario.nombre %></a>
                <% }else{ %>
                <a href="/users/login" method="GET" id="log-text">Mi cuenta</a>
                <a href="/users/login" method="GET" id="log-icon"><i class="far fa-user"></i></a>
                <%}%>
            </div>
            
            <div id="cart">
                <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </section>  
        
    </section>
    

    <!--barra de navegación-->
    <section class="header-bottom">
        <figure id="menu"><i class="fas fa-bars fa-1x"></i>Menu</figure>
        
        <nav class="nav-bar">

            <%if(usuario && usuario.admin){%>
                <ul>
                    <li><a href="/types">TIPOS</a></li>
                    <li><a href="/categories">CATEGORIAS</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                        
                </ul>


            <%} else{%>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/products/category/perros">PERROS</a>  
                    <ul class="desplegable">
                        <li><a href="/products/category/perros/alimentos?">Alimentos</a></li>
                        <li>Higiene, Cuidado y Estética</li>
                        <li>Juguetes y Accesorio</li>
                    </ul>

                    
                </li>
                <li><a href="/products/category/gatos">GATOS</a>
                    <ul class="desplegable">
                        <li>Alimentos</li>
                        <li>Higiene, Cuidado y Estética</li>
                        <li>Juguetes y Accesorio</li>
                        
                    </ul>
                </li>
                <li><a href="/products/">NUESTROS PRODUCTOS</a>
                    
                </li>
                <li><a href="#">MARCAS</a>
                    <ul class="desplegable">
                        <li>Eukanuba</li>
                        <li>Old Price</li>
                        <li>Royal Cannin</li>
                        <li>Gati</li>
                    </ul>
                </li>
                <li><a href="#">PW Blog</a></li>
                <li><a href="#"> CONTACTENOS</a></li>
            </ul>
            <%}%>
        </nav>
        
    </section>

</header>
