

<!--HEADER-->
<header class="header">
    <section class="header-top">
        <section id="logo-titulo">
            <img id="logo" src="../img/logo.png" alt="logo">
            <h1 id="titulo">Pet World</h1>
        </section>
        
        <form id="search-bar">
            <input id="busqueda" type="search" name="busqueda" placeholder="Buscar"><i class="fas fa-search"></i>
        </form>
        
        <section id="login-cart">
            <div id="button-login-header">
                <a href="/users/login" method="GET" id="log-text">Mi cuenta</a>
                <a href="/users/login" method="GET" id="log-icon"><i class="far fa-user"></i></a>
            </div>
            
            <div id="cart">
                <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </section>  
        
    </section>
    

    <!--barra de navegación-->
    <section class="header-bottom">
        <figure id="menu"><i class="fas fa-bars fa-1x"></i>Menu</figure>

        <nav class="nav-bar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">PERROS</a>  
                    <ul class="desplegable">
                        <li>Alimentos</li>
                        <li>Higiene, Cuidado y Estética</li>
                        <li>Juguetes y Accesorio</li>
                    </ul>
                </li>
                <li><a href="#">GATOS</a>
                    <ul class="desplegable">
                        <li>Alimentos</li>
                        <li>Higiene, Cuidado y Estética</li>
                        <li>Juguetes y Accesorio</li>
                        
                    </ul>
                </li>
                <li><a href="#">TAMAÑOS Y PESOS</a>
                    <ul class="desplegable"> 
                        <li>Pequeños</li>
                        <li>Mediano</li>
                        <li>Grande</li>
                    </ul>
                </li>
                <li><a href="#">MARCAS</a>
                    <ul class="desplegable">
                        <li>Eukanuba</li>
                        <li>Old Price</li>
                        <li>Royal Cannin</li>
                        <li>Gati</li>
                    </ul>
                </li>
                <li><a href="#">PW Blog</a></li>
                <li><a href="#"> CONTACTENOS</a></li>
            </ul>
        </nav>
        
    </section>

</header>
